#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  height: 66vh;
}



.keyscroll-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 3rem;
  letter-spacing: 1px;
  width: auto;
  height: 100%;
  margin: auto 1rem auto 0; 
 }