body {
  overflow: hidden;
  margin: 0;
}

#root {
  max-width: 1280px;
  margin: auto;
  text-align: center;
  overflow: hidden;
  font-family: monospace;
  height: 100vh;
}

.keyscroll-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  letter-spacing: 5px;
  box-shadow: inset 0px 0px 3px black;
  margin: auto;
  height: 100%;
}

.key-icon {
  margin: auto .11rem;
}

.keyscroll-container > p {
  display:flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

.keyscroll-container > p::after {
  content: "|";
  font-size: 1rem;
  color: rgba(58, 159, 220, .9);
 }